/* палітра кольлорів */
/* --color-brand { color: #2196F3; }*/
/* color-main: { color: #757575;}
     */
/* color h: {color:#212121} */
/* color-white-text: color: #FFFFFF; */
/* backrground-main : #F5F5F5;*/

/* backrground-secondary : 2F303A#;  */

/* logo-color: #000000; */
/* color-adress: #FFFFFF */
/* color-info: color: rgba(255, 255, 255, 0.6); */
:root {
    --brand-color: #2196F3;
    --main-text-color: #757575;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --color-info: rgba(255, 255, 255, 0.6);
    --backrground-main: #F5F5F5;
    --backrground-secondary: #2F303A
}

body {
    background-color: var(--backrground-main);
    color: var(--main-text-color)
}

h2,
h3 {
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* HEADER */
/* LOGO */
.logo {
    color: var(--brand-color);
    text-decoration: none;
}

.logo-studio {
    color: var(--logo-text-color);
}

.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--brand-color);
}

.title-contact {
    color: var(--main-text-color);
    text-decoration: none;
}

.title-contact:hover,
.title-contact:focus {
    color: var(--brand-color);
}

/* section-hero */
.hero {
    background-color: var(--backrground-secondary);
    color: var(--backrground-main);
}

.button {
    background-color: var(--brand-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

/* section-features */
.section-features .title {
    color: var(--primary-text-color);

}